/* CSS Selectors: selector { property: value; } */

/* Zero out padding and marging. * selector means everything.
* {
    margin: 0;
    padding: 0;
}
*/

body {
    /* Colors: Color names, HTML5 color names, hexadecimal, RGB. */
    background-color: #f4f4f4;
    color: #555555;

    /* Font family priorities. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;

    /* Same as above. */
    font: normal 16px Arial, Helvetica, sans-serif;

    /* Height of each line (puts space between lines.) */
    /* em is mostly used for line heights. */
    line-height: 1.6em;
    margin: 0;
}

/* Applies to all buttons. */
.button {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color: #ffffff;
}

/* CSS for different a tag states. */
a {
    /* Gets rid of underline. */
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

/* Clears all floating from previous divs. */
.clr {
    clear: both;
}


/* id: unique to element (ex. navbar). DO NOT REPEAT! */
/* class: not unique, applies to multiple elements (ex. boxes). */

.container {
    /* Width of container. Use percentages because width will be responsive with page size. */
    width: 80%;

    /* Puts even amount of space on both sides of class (pushes to the middle of the screen). */
    margin: auto;
}

.box-1 {
    background-color: #333333;
    color: #ffffff;

    border-bottom-width: 10px;
    border-top-style: dotted;

    /* Puts a 5px red solid border around the box.*/
    border: 5px red solid;

    /* Padding between content and border. 20px of padding. */
    padding: 20px;

    /* Space between border and page is 20px for the top. */
    margin-top: 20px;

}

/* Styles all h1s within box-1. */
.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

/* For margins and padding! */
/* margin: 5px 10px 5px 10 px (top, right, bottom, left). */
/* margin: 5px 10px (top and bottom, left and right). */


.box-2 {
    border: 3px dotter #cccccc;
    padding: 20px;
    margin: 20px 0;
}

/* CSS of the class categories div not just the ul list. */
.categories {
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    padding-left: 20px;

    /* Changed bullet style. */
    list-style: square;
    list-style: none;
}

.categories li {
    padding-bottom: 8px;
    border-bottom: dotted 1px #333333;

    /* Puts an image as the bullet points. */
    list-style-image: url('../images/check.png');
}


.my-form {
    padding: 20px;
}

.my-form form-group {
    padding-bottom: 15px;
}

.my-form label {
    /* Makes the labels in my-form block elements. */
    display: block;
}

/* For text inputs. */
.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

.block {
    /* Floats boxes next to each other rather than on top of each other. */
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    padding: 10px;

    /* By setting to border-box, width property takes into consideration the border and padding properties. */
    box-sizing: border-box;
}


/* Puts these blocks nicely next to each other. */
#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background: #333333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000000;
    margin-top: 30px;

    /* Allows nested elements to be positioned based on the position of this box. */
    position: relative;

    background-image: url('../images/background-image.jpg');
    background-repeat: no-repeat;

    /* Push over 100px and push down 200 px. */
    background-position: 100px 200px;
    background-position: center top;
}

.p-box h1 {
    position: absolute;
    top: 40px;
}

.p-box h2 {
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me {
    position: fixed;
    top: 400px;
}

/* Pseudo Elements. */
.my-list li:first-child {
    background: red;
}

.my-list li:last-child {
    background: blue;
}

.my-list li:nth-child(5) {
    background: yellow;
}

.my-list li:nth-child(even) {
    background: #555555;
}